<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-lg-12"  style="margin-bottom: 50px;">
            <h1 class="text-center">Zebrania</h1>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <form action="/meetings" method="get">
                        <div class="form-floating mb-3">
                            
                            <select id="type" name="type" class="form-control" required>
                                <% Object.keys(groupBy(meetings, 'type')).forEach((meetingType) => { %>
                                    <% if(meetingType === type){ %>
                                        <option value="<%= meetingType %>" selected><%= meetingType %></option>
                                    <% } else { %>
                                        <option value="<%= meetingType %>"><%= meetingType %></option>
                                    <% } %>
                                <% }) %>
                                
                            </select>
                            <label for="type" class="username">
                                Wybierz typ zebrania
                                
                            </label>
                            
                        </div>
                        <div class="form-floating mb-3">
                            <select id="month" name="month" class="form-control" required>
                                <% Object.keys(groupBy(meetings, 'month')).forEach((currentMonth) => { %>
                                    <% if(currentMonth === month){ %>
                                        <option value="<%= currentMonth %>" selected><%= currentMonth %></option>
                                    <% } else { %>
                                        <option value="<%= currentMonth %>"><%= currentMonth %></option>
                                    <% } %>
                                <% }) %>
                                
                            </select>
                            <label for="month" class="username">
                                Wybierz miesiąc
                                
                            </label>
                            
                        </div>
                        <input type="submit" value="Szukaj" class="btn btn-primary btn-blue">
                    </form>
                </div>
            </div>
            
            <% if(meetings.length === 0){ %>
                <div class="alert alert-info text-center">
                    Nie dodano jeszcze zebrań
                </div>
            <% } else { %>
                <% if(groupBy(meetings, 'month')[month].filter((meeting) => meeting.type === type).length === 0){ %>
                    <div class="alert alert-info text-center">
                        Nie znaleziono zebrań
                    </div>
                <% } else { %>
                    <div class="text-center">
                        <a href="/meetings/generate-pdf?month=<%= month %>&type=<%= type %>" class="link-to-generate">Generuj plan <%= type %> - <%= month %></a>
                    </div>
                   
                            <div class="meetings">
                                <% groupBy(meetings, 'month')[month].filter((meeting) => meeting.type === type).forEach((meeting) => { %>
                                    <div class="meeting" style="margin-bottom: 20px;">
                                        <h3 style="font-size: 28px;"><%= new Date(meeting.date).toLocaleString('pl-PL', {
                                            year: 'numeric',
                                            month: '2-digit',
                                            day: '2-digit',
                                            hour: '2-digit',
                                            minute: '2-digit',
                                            hour12: false
                                        }) %></h3>
                            
                                        <div class="info">
                                            <span>
                                                Sprzątanie:
                                                <strong><%= meeting.cleaningGroup?.name %></strong>
                                            </span>
                                        </div>
                                        <div class="info">
                                            <span>
                                                Pieśń: 
                                                <strong><%= meeting.beginSong %></strong>
                                            </span>
                                        </div>
                                        <div class="info">
                                            Prowadzący:
                                            <span>
                                                <strong><%= meeting.lead?.name %></strong>
                                            </span>
                                        </div>
                                        <div class="info">
                                            Modlitwa:
                                            <span>
                                                <strong><%= meeting.beginPrayer?.name %></strong>
                                            </span>
                                        </div>
                                        <div class="assignments">
                                            <% Object.keys(groupBy(meeting.assignments, 'type')).forEach((assignmentType) => { %>
                                                <div class="assignment">
                                                    <% if(assignmentType === "Studium Strażnicy" || assignmentType === "Chrześcijański tryb życia"){ %>
                                                        <div class="info">
                                                            Pieśń:
                                                            <span>
                                                                <strong><%= meeting.midSong %></strong>
                                                            </span>
                                                        </div>
                                                    <% } %>
                                                    <div class="assignment_type" style="background: <%= chooseMeetingTypeColorAndIcon(assignmentType).fontColor  %>;">
                                                        <%= assignmentType %>
                                                    </div>
                                                    <% groupBy(meeting.assignments, 'type')[assignmentType].forEach((assignment) => { %>
                                                        <p class="assignment_topic" style="color: <%= chooseMeetingTypeColorAndIcon(assignmentType).fontColor  %>;"><%= assignment.topic || assignment.defaultTopic %></p>
                                                        <div class="info">
                                                        
                                                    
                                                            <span>
                                                                <strong><%= assignment.participant?.name || assignment.otherParticipant %></strong>
                                                            </span>
                                                        </div>
                                                        <% if(assignment.reader){ %>
                                                            <div class="info">
                                                               
                                                                Lektor:
                                                                <span>
                                                                    <strong><%= assignment.reader?.name %></strong>
                                                                </span>
                                                            </div>
                                                        <% } %>
                                                    <% }) %>
                                                    
                                                </div>
                                        
                                            <% }) %>
                                        </div>
                                        <hr style="height: 1px; background-color: black;">
                                        <div class="info">
                                            
                                            <span>
                                                Pieśń: 
                                                <strong><%= meeting.endSong %></strong>
                                            </span>
                                        </div>
                            
                                        <div class="info">
                                            
                                            Modlitwa końcowa:
                                            <span>
                                                <strong><%= meeting.beginPrayer?.name || meeting.otherEndPrayer %></strong>
                                            </span>
                                        </div>
                                        <hr>
                                    </div>
                                   
                                <% }) %>
                            </div>
                            
                <% } %>
                
            <% } %>
        </div>
    </div>
</div>
    
<%- include("../partials/footer") %>