<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center"><%= language.__("sectionText") %></h1>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <form action="/meetings/ordinals" method="get">
                        
                        <div class="form-floating mb-3">
                            <select id="month" name="month" class="form-control" required>
                                <% Object.keys(groupBy(meetings, 'month'))?.forEach((currentMonth) => { %>
                                    <% if(currentMonth === month){ %>
                                        <option value="<%= currentMonth %>" selected><%= currentMonth %></option>
                                    <% } else { %>
                                        <option value="<%= currentMonth %>"><%= currentMonth %></option>
                                    <% } %>
                                <% }) %>
                                
                            </select>
                            <label for="month" class="username">
                                <%= language.__("chooseMonthLabel") %>
                                
                            </label>
                            
                        </div>
                        <input type="submit" value="<%= language.__("searchButton") %>" class="btn btn-primary btn-blue">
                    </form>
                </div>
            </div>
            <% if(meetings.length === 0){ %>
                <div class="alert alert-info text-center">
                    <%= language.__("meetingNoEntryText") %>
                </div>
            <% } else { %>
                <% if(groupBy(meetings, 'month')[month]?.length === 0){ %>
                    <div class="alert alert-info text-center">
                        <%= language.__("notFoundText") %>
                    </div>
                <% } else { %>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th><%= language.__("dateLabel") %></th>
                                <th><%= language.__("hallwayLabel") %></th>
                                <th><%= language.__("hallway2Label") %></th>
                                <th><%= language.__("auditoriumLabel") %></th>
                                <th><%= language.__("parkingLabel") %></th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <% groupBy(meetings, 'month')[month]?.forEach((meeting) => { %>
                                <tr class="text-center">
                                    <td><%= new Date(meeting.date).toLocaleDateString('pl-PL') %></td>
                                    <td><%= meeting.ordinal?.hallway1?.name %></td>
                                    <td><%= meeting.ordinal?.hallway2?.name || language.__("noAssignmentText") %></td>
                                    <td><%= meeting.ordinal?.auditorium?.name %></td>
                                    <td><%= meeting.ordinal?.parking?.name || language.__("noAssignmentText") %></td>
                                </tr>
                                
                            
                            <% }) %>
                        </tbody>
            
                    </table>
                    <div class="text-center">
                        <a href="/meetings/ordinals/generate-pdf?month=<%= month %>" class="link-to-generate"><%= language.__("generatePlan") %> <%= language.__("sectionText") %> - <%= month %></a>
                    </div>
                    
                <% } %>
            <% } %>

        </div>
    </div>
</div>
    
<%- include("../partials/footer") %>